body {
    /* background-image: url("/assets/img/avion.jpeg"); */
    background-color: #010101;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: #fefefe;

}

.section {
  width: 80vw;
  margin: auto;
}

.intro {
  position: fixed;
  font-size: 1.3em;
  right: 11em;
  margin-top: 3em;
}

.intro h1 {
  background-color: #fff;
  color: #000;
  padding: 0.1em;
  margin-left: 1em;
}

#loguito {
  position: fixed;
  background-color: #fefefe;
  border-radius: 1.9em;
  padding: 0.5em;
  right: 7em;
  bottom: 5em;
 
}

.grid-container {
  display: grid;
  grid-template-columns: 420px;
  grid-gap: 0em;
  width: 76vw;
  margin: auto;
  padding-top: 15em;
  float: center;
}

.spotify {
  padding: 2em 0em;
}

.spotify h3 {
  padding: 0.9em 0em;
}

.footer-social-icons {
  display: fixed;
  margin: 10em 4em;
}



@media only screen and (max-width: 1400px) {
  .grid-container {
    grid-template-columns: 420px;
  }
}

@media only screen and (max-width: 1050px) {
  .grid-container {
    grid-template-columns: 400px;

  }
}

@media only screen and (max-width: 600px) {

  #loguito {
    position:fixed;
    background-color: #fefefe;
    border-radius: 1.9em;
    padding: 0.5em;
    right: 1em;
    bottom: 2em;
  
  }

  .grid-container {
      grid-template-columns: 300px;
      padding: 12em 0em 0em 0em;
      font-size: 0.7em;
  }
    
  .spotify iframe {
      width: 80%;
  }

  .footer-social-icons {
    margin: 0em 2em;
    width: 100%;
    padding: 2em 0em 2em 0em;
  }
}