body {
    /* background-image: url("/assets/img/avion.jpeg"); */
    background-color: #010101;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: #fefefe;

}

.section {
  width: 80vw;
  margin: auto;
}

.intro {
  position: fixed;
  font-size: 1.3em;
  right: 11em;
  margin-top: 3em;
}

#loguito {
  position: fixed;
  background-color: #fefefe;
  border-radius: 1.9em;
  padding: 0.5em;
  right: 7em;
  bottom: 5em;
 
}

.grid-container {
  display: grid;
  grid-template-columns: 420px;
  grid-gap: 0em;
  width: 76vw;
  margin: auto;
  padding-top: 15em;
  float: center;
}

.spotify {
  padding: 0em;
}

.footer-social-icons {
  display: fixed;
  margin: 10em 4em;
}



@media only screen and (max-width: 1400px) {
  .grid-container {
    grid-template-columns: 420px;
  }
}

@media only screen and (max-width: 1050px) {
  .grid-container {
    grid-template-columns: 400px;

  }
}

@media only screen and (max-width: 800px) {

  .grid-container {
    grid-template-columns: 300px;
    padding-top: 12em;

  }
}