body {
    /* background-image: url("/assets/img/avion.jpeg"); */
    background-color: #111;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: #ddd;

}

.section {
  width: 80vw;
  margin: auto;
}

.intro {
  position: fixed;
  font-size: 1.3em;
  right: 9em;
  margin-top: 3em;
}

.grid-container {
  display: grid;
  grid-template-columns: 420px;
  grid-gap: 0em;
  color: #fff;
  width: 76vw;
  margin: auto;
  padding-top: 15em;
  float: center;
}

.spotify {
  padding: 0em;
}


@media only screen and (max-width: 1400px) {
  .grid-container {
    grid-template-columns: 420px;
  }
}

@media only screen and (max-width: 1050px) {
  .grid-container {
    grid-template-columns: 400px;

  }
}

@media only screen and (max-width: 800px) {

  .grid-container {
    grid-template-columns: 300px;
    padding-top: 12em;

  }
}